@import '../../../scss/colors.scss';

.greeting {
  font-size: 4rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;

  &__name {
    max-width: 245px;

    &::placeholder {
      opacity: 0.6;
      color: $light;
    }
  }
}