.header {
  width: 100%;

  &__wrapper {
    min-height: 230px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15px;
  }

  &__weather {
    padding: 10px 0;
  }
}