.footer {
  width: 100%;

  &__wrapper {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  &__quote {
    margin-bottom: 15px;
    min-height: 100px;
  }
}

.copyright {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  opacity: 0.6;

  &__year {
    font-size: 1.4rem;
  }
}