@import 'normalize.css';
@import './scss/colors';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: $light;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
}

p {
  margin: 0;
}

body {
  transition: background-image .7s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $overlay;
  background-blend-mode: overlay;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
}

.input {
  border: 0;
  background-color: transparent;
  outline: none;
  word-break: break-all;
  color: $light;
}

.link {
  display: block;
  opacity: 0.7;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &_github {
    width: 32px;
    height: 32px;
    background-image: url('./assets/icons/github.svg');
  }

  &_rs {
    width: 50px;
    height: 32px;
    background-image: url('./assets/icons/rs-school.svg');
  }
}

.button {
  border: 0;
  outline: 0;
  opacity: 0.7;
  padding: 0;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 1;
  }

  &_slide-prev {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-image: url('./assets/icons/slider-prev.svg');
  }

  &_slide-next {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    background-image: url('./assets/icons/slider-next.svg');
  }

  &_quote {
    width: 32px;
    height: 32px;
    background-image: url('./assets/icons/reload.svg');

    &:active {
      transform: rotate(45deg);
    }
  }

  &_play {
    width: 28px;
    height: 28px;

    &[data-pause="false"] {
      background-size: 70%;
      background-image: url('./assets/icons/pause.svg');
    }

    &[data-pause="true"] {
      background-size: 140%;
      background-image: url('./assets/icons/play.svg');
    }
  }

  &_play-next {
    width: 22px;
    height: 22px;
    background-image: url('./assets/icons/play-next.svg');
  }

  &_play-prev {
    width: 22px;
    height: 22px;
    background-image: url('./assets/icons/play-prev.svg');
  }

  &_volume {
    width: 17px;
    height: 17px;

    &[data-mute="false"] {
      background-image: url('./assets/icons/volume.svg');
    }

    &[data-mute="true"] {
      background-image: url('./assets/icons/mute.svg');
    }
  }

  &_playlist {
    width: 22px;
    height: 22px;
    background-image: url('./assets/icons/playlist.svg');
  }
}

.fade-in {
  animation: fade-in 1s forwards;
}

.fade-out {
  animation: fade-out 0.3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}