$primary: rgba(255, 255, 255, .1);
$overlay: rgba(0, 0, 0, .2);
$widget-background: rgba(0, 0, 0, .1);
$dark: #292929;
$light: #FFF;
$scrollbar-thumb: rgba(255, 255, 255, .5);
$slider-background: rgba(255, 255, 255, .4);
$settings-separator: rgba(255, 255, 255, .16);
$pop-up-text: #939393;
$checkbox: #71aaeb;